.level1 {
  height: 100%;
  position: relative;
  .villain {
    position: absolute;
    width: 52px;
    height: 52px;
    transition: transform 1.5s ease-in;
    transform: scale(0%);

    &.showVillain {
      transform: scale(500%);
    }
  }
}
